# Node modules
node_modules

# Next.js build output
.next

# Environment variables
.env
.env.local
.env.development
.env.production
.env.test

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# VSCode settings
.vscode/

# MacOS files
.DS_Store

# Linux files
*.swp
