$color-pink-light: #FFE6E6;
$color-pink-dark: #FFB4BC;
$color-green-light: #d2f5ee;
$color-green-dark: #A0E4D5;
$color-yellow-light: #FFEFC6;
$color-yellow-dark: #FFD45E;
$color-blue-light: #EAEEF7;
$color-blue-dark: #3356AF;

.cmr-app-services {
    padding: 50px 0 70px 0;
    background: linear-gradient(to bottom, #ffffff 0%, #fff 30%, #f2f3f7 30%, #f2f3f7 70%, rgba(255, 255, 255, 0) 70%);

    .service-alt {
        &:nth-child(even) {
            margin-top: 30px;

            @media screen and (max-width: 767px) {
                margin-top: 0;
            }
        }

        .app-plate {
            height: 232px;
            border-radius: 10px;
            padding: 30px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: #fff;
            cursor: pointer;
            box-shadow: 0px 3px 26px rgba(0, 0, 0, 0.04);
            margin-bottom: 10px;

            @media screen and (max-width: 767px) {
                margin-bottom: 20px;
            }

            @media screen and (max-width: 600px) {
                flex-wrap: wrap;
                height: auto;

                >div {
                    width: 100%;

                    p {
                        width: 100%;
                    }

                    &+div {
                        margin-top: 10px;
                        width: 100%;
                        text-align: center;

                        .icon_box {
                            display: inline-block;
                            padding-left: 20px;
                            padding-right: 20px;
                        }
                    }
                }
            }

            &::after {
                content: "";
                width: 150px;
                height: 9px;
                border-radius: 5px 5px 0px 0px;
                background: $color-blue-dark;
                position: absolute;
                bottom: 0;
                left: 30px;
            }

            &:hover {
                .link-btn {
                    color: #F16122;

                    i {
                        left: 10px;
                        transition: all 0.5s;
                    }
                }
            }

            h5 {
                font-family: Lato;
                font-weight: 900;
                font-size: 20px;
                line-height: 1.5;
                text-align: left;
                color: #1d1e31;
            }

            p {
                width: 227px;
                height: 96px;
                font-family: Lato;
                font-weight: normal;
                font-size: 16px;
                line-height: 1.5;
                text-align: left;
                color: #000;
                margin: 0;
                max-height: 103px;
                overflow: hidden;
            }
        }
    }
}

// common
.link-btn {
    font-family: Lato;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.08em;
    line-height: 30px;
    text-align: center;
    color: #000;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    z-index: 99999999;
    position: relative;

    i {
        margin-left: 5px;
        position: relative;
        left: 0;
        transition: all 0.5s;
    }

    &:hover {
        i {
            left: 10px;
            transition: all 0.5s;
        }
    }
}

.cmr-what-we {
    .provide-plate {
        margin: 50px 0;

        @media screen and (max-width: 600px) {
            margin: 20px 0;
        }

        .left-tags {
            display: flex;
            align-items: flex-start;

            @media screen and (max-width: 600px) {
                flex-wrap: wrap;
            }
        }

        .step-number-custom {
            font-family: 'Mont', sans-serif;
            font-weight: 900;
            font-size: 42px;
            text-align: center;
            color: #202133;
            margin: 0 15px 0 0;

            @media screen and (max-width: 600px) {
                text-align: left;
                display: block;
                width: 100%;
                margin-right: 0;
                font-size: 36px;
            }
        }

        .step-label-custom {
            font-family: Lato;
            font-weight: normal;
            font-size: 36px;
            line-height: 1.3;
            text-align: left;
            color: #202133;
            max-width: 200px;

            @media screen and (max-width: 767px) {
                max-width: 100%;
            }

            @media screen and (max-width: 600px) {
                font-size: 25px;
            }
        }

        p {
            font-family: Lato;
            font-weight: 300;
            font-size: 20px;
            line-height: 1.5;
            text-align: left;
            color: #000;

            @media screen and (max-width: 600px) {
                font-size: 18px;
            }
        }
    }
}

.cmr-faqs {
    margin-bottom: 100px;

    ul {
        padding-right: 50px;
        @media screen and (max-width:600px){
            padding-right: 0;
        }
        li {
            font-family: Lato;
            font-weight: bold;
            font-size: 18px;
            text-align: left;
            color: #1d1e31;
            padding: 15px 0;
            border-bottom: 1px solid #DDDDDD;

            &:last-child {
                border-bottom: none;
            }
        }
    }

    h6 {
        font-family: Lato;
        font-weight: bold;
        font-size: 20px;
        line-height: 1.5;
        text-align: left;
        color: #f16122;
    }

    h4 {
        font-family: 'Mont',sans-serif;
        font-weight: 900;
        font-size: 30px;
        line-height: 1.5;
        text-align: left;
        color: #1d1e31;
        margin-bottom: 20px;
    }
}

.faq_item{
    .faq_body_inner {
        font-size: 16px;
        font-weight: 400;
        padding: 10px 0;
    }
    
    .faq_header {
        .card-link{
            display: block;
            width: 100%;
            position: relative;
            padding-right: 25px;
            &[aria-expanded="true"] {
                [aria-expanded="true"] {
                    color: #F16122;
                }
                &::after{
                    content: '-';
                    background: #F16122;
                }
            }
            &::after {
                content: '+';
                position: absolute;
                width: 22px;
                height: 22px;
                background: #000;
                color: #fff;
                border-radius: 50%;
                font-size: 14px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: arial;
                font-weight: 400;
                top: 3px;
                right: 2px;
            }
        }
    }
    
}
