.industry-main.new-graphic-change .inner-top-header {
    min-height: auto;
}

.industry-main.new-graphic-change .inner-top-header .inner-left {
    padding-top: 190px;
    padding-bottom: 80px;
}

.industry-main.new-graphic-change .inner-right img {
    max-width: 100%;
}