<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Untitled Document</title>
        <style>
            body{margin:0; padding:0; font-family:Arial;}
        </style>
    </head>
    <body>
        <table width="780" border="0" cellspacing="0" cellpadding="0" align="center">
            <tr>
                <td height="4" style="background:#d24d27;"></td>
            </tr>
            <tr>
                <td>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td width="60">&nbsp;</td>
                            <td>
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td>
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td colspan="2" height="40">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td><img width="242" height="57" src="https://www.cmarix.com/blog/wp-content/uploads/2020/10/logo.png" alt=""></td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2" height="40">&nbsp;</td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td height="33">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td style="font-family:Arial; font-size:14px; color:#444; line-height:18px;">
                                            {{name}}, Thank you for applying to CMARIX TechnoLabs.<br>
                                            We have received your resume and appreciate your interest in our job openings.<br><br>
                                            <table width="100%" border="0" cellspacing="0" cellpadding="8">
                                                <tr>
                                                    <td style="font-family:Arial; font-size:15px; color:#444; line-height:20px; border:1px solid #ccc; border-right:none; border-bottom:none;">Job Title</td>
                                                    <td style="font-family:Arial; font-size:15px; color:#444; line-height:20px; border:1px solid #ccc; border-bottom:none;">Date Applied</td>
                                                </tr>
                                                <tr>
                                                    <td style="font-family:Arial; font-size:15px; color:#d24d27; line-height:20px; border:1px solid #ccc; border-right:none;">{{job}}</td>
                                                    <td style="font-family:Arial; font-size:15px; color:#d24d27; line-height:20px; border:1px solid #ccc;">{{date}}</td>
                                                </tr>
                                            </table>
                                            <br><br>
                                            Your information is recorded in our database. Our talent acquisition team will analyze your skills and expertise. If you get selected they will get in touch with you for further process. For additional information you may contact us at hr@cmarix.com anytime.<br><br>
                                            You can call our talent acquisition team at: 800 005 0707<br><br>
                                            Thank you for considering CMARIX as a potential employer.<br><br><br>
                                            Best regards,<br>
                                            Team HR<br>
                                            CMARIX TechnoLabs
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="35">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td style="font-family:Arial; font-size:14px; color:#d24d27; line-height:18px;">Stay Connected</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <table border="0" cellspacing="0" cellpadding="0">
                                                            <tr>
                                                                <td valign="bottom"><a href="https://www.facebook.com/CMARIXTechnoLabs"><img src="https://cmarix.com/blog/wp-content/uploads/2015/01/icon-fb.png" alt=""></a></td>
                                                                <td width="8" height="48"></td>
                                                                <td valign="bottom"><a href="https://twitter.com/CMARIXTechLabs"><img src="https://cmarix.com/blog/wp-content/uploads/2015/01/icon-twitter.png" alt=""></a></td>
                                                                <td width="8"></td>
                                                                <td valign="bottom"><a href="https://www.youtube.com/channel/UCPOr28DK8yLLJes0pA4Iw1g"><img src="https://cmarix.com/blog/wp-content/uploads/2015/01/icon-youtube.png" alt=""></a></td>
                                                                <td width="8"></td>
                                                                <td valign="bottom"><a href="http://in.linkedin.com/in/CMARIXTechnoLabs"><img src="https://cmarix.com/blog/wp-content/uploads/2015/01/icon-linkedin.png" alt=""></a></td>
                                                                <td width="8"></td>
                                                                <td valign="bottom"><a href="https://plus.google.com/+CMARIXTechnoLabs"><img src="https://cmarix.com/blog/wp-content/uploads/2015/01/icon-gplus.png" alt=""></a></td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="55">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td style="font-family:Arial; font-size:12px; color:#999;">&copy; 2009-2020 CMARIX TechnoLabs Pvt. Ltd., India</td>
                                                </tr>
                                                <tr>
                                                    <td height="20"></td>
                                                </tr>
                                                <tr>
                                                    <td style="font-family:Arial; font-size:12px; color:#bbb; line-height:16px;">Disclaimer: This email and any files transmitted with it are confidential and intended solely for the use of the individual or entity to whom they are addressed. If you have received this email in error please notify the system manager. This message contains confidential information and is intended only for the individual named. If you are not the named addressee you should not disseminate, distribute or copy this e-mail. Please notify the sender immediately by e-mail if you have received this e-mail by mistake and delete this e-mail from your system. If you are not the intended recipient you are notified that disclosing, copying, distributing or taking any action in reliance on the contents of this information is strictly prohibited.</td>
                                                </tr>
                                                <tr>
                                                    <td height="20"></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td width="60">&nbsp;</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>